body {
  background-color: #FFFFFF !important;
}

main {
  padding-bottom: 42px;
}

.page-container {
  min-height: 100vh !important;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  padding: 12px;
  font-family: 'Anonymous Pro', monospace;
  font-size: 12px;
  height: 42px
}

body h1 {
  font-family: 'Poppins', sans-serif;
  color: #495867;
  margin-bottom: 2rem;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.map-container {
  position: relative;
  margin: 1rem auto;
  border: 4px #495867 solid;
  border-radius: 4px;
  margin-bottom: 2rem;
  width: 400px;
  height: calc(150 / 180 * 400px);
}

.population-count {
  color: #577399 !important;
  font-size: 5rem;
  text-align: center;
  font-family: 'Anonymous Pro', monospace;
  color: #495867;
}

.population-count-label {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #495867;
}

.date-slider {
  width: 600px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.fun-fact {
  font-family: 'Poppins', sans-serif;
  color: #495867;
  font-size: 1.5rem;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fun-fact-number {
  color: #577399;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Anonymous Pro', monospace;
}

.description {
  padding-top: 2rem;
  font-family: 'Poppins', sans-serif;
  width: 450px; 
  margin: auto;
  text-align: justify;
}

body a {
  color: #FE5F55;
}

body a:hover {
  color: #FE5F55;
}

@media (max-width: 575.98px) {
  html {
    font-size: 10px;
  }
  .population-count { 
    font-size: 4rem;
  }
  .fun-fact { 
    font-size: 0.8rem;
  }
  .fun-fact-number {
    font-size: 1.5rem;
  }
  .date-slider {
    width: 300px;
  }
  .description {
    width: 255px;
  }
  .map-container {
    width: 200px;
    height: calc(150 / 180 * 200px);
  }
  footer {
    font-size: 8px;
  }
}
